@page
@model LinkGenerator.RuntimeLoadedProject.MyFeature.Pages.RuntimePageModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Runtime Page</title>
</head>
<body>
	<h1>Runtime Page</h1>
</body>
</html>
